.header-style{
    height: 45px;
    background-color: #2874f0;
    margin: -16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 21px;
}

.search-box{
    height: 38px;
    border-radius: 2px;
    padding: 0px 16px;
    border: 0;
    outline: 0 none;
    width: 100%;
}
.imgtag{
    height: 19px;
    margin-right: 6px;
}

.search-bx-container{
    display: flex;
    flex-direction: row;
}

.menu-bts{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 3px 8px;
}